


.slider{
    max-width: 90vw;
    padding: 0 15px;
    overflow: hidden;
}
.owl-carousel .item{
 font-size: 24px;
 font-weight: bold;
 text-align: center;
 margin-top: 20px;
 height: 350px;
 border-radius: 10px;
 box-shadow: 0px 4px 6px 0px rgba(0,0,0,.2);
 background: #ffffff;
 cursor: pointer;
 text-align: center;
 /* z-index: ; */
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}